[Unit]
Description=Seeding Box Temperature Control Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/work/seedingbox/
ExecStart=/usr/bin/python3 /home/pi/work/seedingbox/app.py on
ExecStop=/usr/bin/python3 /home/pi/work/seedingbox/app.py off
Restart=always
# User=pi
# Group=pi

[Install]
WantedBy=multi-user.target

